@model Project

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p1">
        <h3><span class="badge badge-pill badge-primary" style="float:right">@Model.Program</span></h3>
        <ul>
            <li>@Model.Type</li>
            <li>@Model.Impact</li>
            <li>
                <div class="card-text p-1">
                    @Model.Phase
                </div>
            </li>
        </ul>
    </div>
</div>